# Ignorar archivos de compilación de proyectos
**/*/bin/
**/*/obj/

# Ignorar archivos de usuario y configuración de Visual Studio
**/*/*.suo
**/*/*.user
**/*/*.userosscache
**/*/*.sln.ide
**/*/.vs/

# Ignorar archivos de configuración de NuGet
**/*/packages/

# Ignorar archivos temporales y de caché
**/*/*.cache
**/*/*.log

# Ignorar carpetas de backup de Visual Studio
**/*/BackupFiles/
**/*/Backup/
