# Archivos de compilación
bin/
obj/

# Archivos de usuario de Visual Studio
*.suo
*.user
*.userosscache
*.sln.ide
*.sln.docstates

# Archivos de configuración de Visual Studio
.vs/
*.vcxproj.user
*.vscode/

# Archivos de paquetes NuGet
*.nupkg
*.snupkg
packages/
*.nuspec

# Archivos temporales de Visual Studio
*.log
*.tlog
*.dbmdl

# Archivos de cache y temporales
Thumbs.db
ehthumbs.db
*.pdb
*.mdb
*.tmp
*.temp

# Archivos de publicación
publish/
